<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Door Lock System</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <div class="nav_container">
            <a href="/home"><p>Smart Door Lock System</p></a>
            <div class="nav_buttons">
                <button type="button"><a href="/signup">SIGN UP</a></button>
                <button type="button"><a href="/login">LOGIN</a></button>
            </div>
        </div>
    </nav>

    <div class="welcoming_container">
        <p>WELCOME TO SMART DOOR SYSTEM</p>
    </div>

    <div class="main-product-content">
        <div class="product-content">
            <h2>PRODUCT</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veritatis dolorum, voluptates ad provident incidunt blanditiis recusandae? Possimus magnam, quisquam voluptas laboriosam accusantium repellendus, esse enim labore consequuntur asperiores suscipit.</p>
        </div>

        <div class="tutorial">
            <h2>TUTORIAL</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veritatis dolorum, voluptates ad provident incidunt blanditiis recusandae? Possimus magnam, quisquam voluptas laboriosam accusantium repellendus, esse enim labore consequuntur asperiores suscipit.</p>
        </div>
    </div>
</body>
</html>
